@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

/* Configurações Gerais */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Chelsea Market, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

/* Cabeçalho: Logo, Título e Login */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.trybewarts-header-logo {
  padding: 10px;
  width: 80px;
}

.trybewarts-login {
  display: flex;
  gap: 7px;
  width: 35%;
}

/* Ajustes Para o conteúdo Principal */
main {
  display: flex;
  align-items: center;
  padding: 20px;
}

/* Form Princial */
#evaluation-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 675px;
}

/* Parte que contém os inputs de nome, sobrenome, email e a seleção de casas */
.primeira-parte {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10px;
}

#input-name , #input-lastname , #input-email , #house {
  display: flex;
  max-width: 260px;
}

/* Conteúdo do meio, input de familía e de conteúdo */
.center-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px 0 50px 30px;
}

.family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

#label-content {
  margin-bottom: 13px;
}

.tecnologias {
  justify-content: right;
  padding: 10px;
  max-width: 60%;
}

/* Input de Avaliação ao Forms */
#label-rate {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

.avaliacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
  margin-bottom: 50px;
}

/* TextArea com comentários sobre o forms */
textarea , .textarea {
  max-width: 80%;
  margin-left: 10px;
  margin-bottom: 5px;
  resize: none;
}

/* Area do checkbox e do input submit */
#label-infos {
  display: flex;
  gap: 8px;
  margin: 45px 10px 20px;
}

/* Imagem trybewarts */
#trybewarts-forms-logo {
  position: absolute;
  margin-top: -400px;
  margin-left: 50px;
  height: 500px;
}

/* Linha De Divisão do Conteúdo */
.hr {
  margin: 25px auto;
  background-color: rgb(50, 167, 145);
  width: 95%;
  height: 1px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: white;
  background-color: rgb(0, 114, 95);
}
