.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-div {
  align-items: center;
  display: flex;
  gap: 8px;
  margin: 10px;
  text-decoration: none;
}

.profile-img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.header-user-name {
  color: var(--wh);
  font-size: 18px;
}

.navigation {
  align-items: center;
  display: flex;
  margin: 15px;
}

.dark-mode {
  background-color: var(--bkLogin);
  border: none;
  color: var(--wh);
  outline-style: none;
}

.dark-mode:hover {
  cursor: pointer;
}

.link-header {
  color: var(--wh);
  font-size: 23px;
  margin: 10px;
  text-decoration: none;
}

.link-header:hover {
  color: #ffd7ff;
}

.link-header:before {
  background-color: #ad4c8c;
  content: '';
  height: 2px;
  position: absolute;
  transition: 300ms;
  width: 0%;
}

.link-header:hover:before {
  width: 100px;
}
