.div-album {
  border: 1px solid white;
  display: none;
  margin: 80px;
}

.album-image {
  border-radius: 15px;
  transition: all 0.3s;
  width: 250px;
}

.album-image:hover {
  transform: scale(1.1);
}

.div-album p {
  text-align: center;
}

.audio-components {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 7px;
}

.sec-album {
  display: flex;
  justify-content: left;

  /* border: 1px solid white; */
  margin-left: auto;
  max-width: 800px;
}
