.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.profile-edit {
  align-items: center;
  display: flex;
  gap: 12px;
}

.profile-edit img {
  border-radius: 50%;
  height: 105px;
  width: 105px;
}

.link-profile {
  border: 1px solid var(--pinkLogin);
  color: var(--pinkLogin);
  padding: 8px;
  text-decoration: none;
}

.link-profile:hover {
  background-color: var(--pinkLogin);
  color: var(--bkLogin);
  cursor: pointer;
}

.infos-profile p {
  font-weight: 600;
}
