.search {
  display: flex;
  justify-content: center;
  padding: 45px;
}

.search-artist-input {
  background-color: var(--bkLogin);
  border: none;
  border-bottom: 2px solid var(--wh);
  color: var(--wh);
  font-size: 16px;
  margin-bottom: 25px;
  outline: none;
  padding: 5px;
  width: 300px;
}

.search-artist-input::placeholder {
  color: var(--wh);
}

.search-button {
  background-color: var(--bkLogin);
  border: 1px solid var(--pinkLogin);
  color: var(--pinkLogin);
  height: 30px;
  margin: 1px;
  margin-left: 15px;
}

.search-button:disabled {
  opacity: 0.3;
}

.search-button:active {
  transform: translateY(-2px);
}

.search-button:hover {
  background-color: var(--pinkLogin);
  color: var(--bkLogin);
  cursor: pointer;
}

.search-button:disabled:hover {
  background-color: var(--bkLogin);
  color: var(--pinkLogin);
  opacity: 0.3;
}

.anotherAlbum {
  text-align: center;
}

.resultAlbuns {
  margin: 23px;
}

.div-link-preview-albuns {
  text-decoration: none;
}

.preview-albuns {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 12px;
}

.img-preview {
  border-radius: 10px;
  height: 100px;
  margin: 10px;
  transition: all 0.3s;
  width: 100px;
}

.img-preview:hover {
  transform: scale(1.1);
}

.div-link-preview {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.link-preview {
  color: var(--wh);
  font-size: 18px;
}

.animate-icons {
  color: var(--wh);
  opacity: 0.7;
}

.animate-icons:hover {
  animation: anima 1500ms ease infinite;
}

@keyframes anima {

  to {
    opacity: 0.1;
    transform: scale(0.85) translateX(20px);
  }
}
