:root {
  --light: #fff;
  --title: #009188;
  --btn: #00A98F;
  --hover: #32CBA5;
  --cart: #C8FAE0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--light);
  font-family: Epilogue, sans-serif;
}

.header {
  position: relative;
  background-color: rgb(0, 28, 20);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.container-title {
  width: 80%;
}

.title {
  color: var(--light);
  font-size: 30px;
  padding-left: 30px;
}

.material-icons {
  color: var(--light);
  user-select: none;
  cursor: pointer;
}

.material-icons:hover {
  color: var(--btn);
}

header a {
  color: var(--light);
  margin-left: 40px;
}

header a:hover {
  color: var(--light);
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: var(--title);
}

.items {
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  padding: 10px;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-sizing: border-box;
}

.item .item__sku {
  display: none;
}

.item__price {
  text-align: center;
  padding: 5px;
}

.item .item__title {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 5px;
  text-align: center;
}

.item .item__image {
  width: 100%;
  transition: all 0.3s;
}

.item .item__image:hover {
  transform: scale(1.1);
}

.item .item__add {
  background-color: var(--btn);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px, auto;
  padding: 3px;
  color: white;
  transition: all 0.3s ease;
}

.item .item__add:active {
  transform: translateY(4px);
}

.item .item__add:hover {
  background-color: var(--hover);
  color: black;
}

.cart {
  display: none;
  user-select: none;
  flex-basis: 40%;
  flex-flow: column wrap;
  background-color: var(--cart);
  max-height: 400px;
  overflow-y: scroll;
}

.cart .cart__items {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 10px;
  gap: 10px;
}

.btns {
  position: absolute;
  top: 500px;
  right: 140px;
}

.total-price {
  position: absolute;
  right: 240px;
  top: 470px;
}

.count {
  text-align: center;
  color: var(--light);
  padding: 5px;
}
