@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css?family=Amarante');

body {
  background-color: #FF0000;
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecalho {
  text-align: center;
  background-color: #363636;
}

.cabecalho p {
  color: #C0C0C0;
  display: inline-block;
  font-family: Amarante, sans-serif;
  font-size: 100px;
}

.pokebola{
  position: absolute;
  top: 20px;
  left: 75px;
}

.pokedex {
  display: flex;
  gap: 30px;
  padding: 70px 0;
}

.rodape img {
    padding-right: 20px;
}
.rodape {
    padding: 12px;
    height: 50px;
    border-top: 1px solid black;
    color: black;
    text-align: center;
}
