.container {
	padding: 40px;
	margin: 0 auto;
  margin-top: 8%;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
  background-image: url("../imagens/fundo-pokebola.png");
  background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

li p {
	padding: 10px;
}

.card img {
	padding: 12px;
  height: 200px;
	position: relative;
	z-index: 2;
  transition: all 0.3s;
}

.card:hover img {
  transform: scale(1.10);
}

.modal {
	display: flex;
	justify-content: center;
	text-transform: capitalize;
}

.card-title {
	text-transform: capitalize;
	font-size: 1.8rem;
	margin-bottom: 0px;
	font-weight: 600;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
  text-transform: capitalize;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.steel {
	background-color: #bdcde6;
}

.ghost {
  background-color: #5a4a9c;
}

.water, .ice {
  background-color: #8bc5cd;
}

.fire {
	background-color: #ff524a;
}

.grass {
	background-color: #62d5b4;
}

.electric {
	background-color: #f6bd20;
}

.ground {
	background-color: #a45a5a;
}

.rock {
	background-color: #948b7b;
}

.fairy {
	background-color: #ffacac;
}

.poison {
	background-color: #627bb4;
}

.bug {
	background-color: #e6cd94;
}

.dragon {
	background-color: #186294;
}

.psychic {
	background-color: #b46294;
}

.flying {
	background-color: #fff6bd;
}

.fighting {
	background-color: #bd4141;
}

.normal {
	background-color: #e6debd;
}
