@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* Referencia uso de variáveis: https://developer.mozilla.org/pt-BR/docs/Web/CSS/Using_CSS_custom_properties
(Eu uso para definir a paleta de cores do projeto ;) */
:root {
  --light: #f5fffa;
  --dark: #000000;
  --blueBtn: #000080;
  --lightBlueBtn: #87cefa;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Acme, sans-serif;
  background-image: url('img/wallpaper-pixel-color.jpg');
  background-size: 100%;
  background-attachment: fixed;
  color: var(--light);
  font-size: 1.2em;
}

#title {
  text-align: center;
  font-family: Acme, sans-serif;
  font-size: 400%;
  padding: 20px;
  color: SpringGreen;
  text-shadow: 2px 2px 1px black;
}

#color-palette {
  cursor: url('img/artist.png'), auto;
  display: inline;
  padding-left: 490px;
}

.color {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  margin-left: 1%;
}

#clear {
  margin-top: -40px;
  margin-left: 750px;
}

#black {
  background-color: var(--dark);
}

#clear-board {
  font-family: monospace;
  font-weight: 900;
  font-size: 20px;
}

#geradorDePixels {
  margin-top: 20px;
  padding-left: 400px;
}

#btn-color {
  cursor: url('img/artist.png'), auto;
  margin-top: -10px;
  margin-left: 20px;
  width: 62px;
  height: 62px;
}

#board-size {
  font-size: 20px;
  width: 250px;
}

#generate-board {
  font-size: 20px;
}

input {
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Acme, sans-serif;
}

button {
  background: var(--blueBtn);
  font-family: Acme, sans-serif;
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 20px;
  text-shadow: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background: var(--lightBlueBtn);
  color: var(--dark);
}

#pixel-board {
  min-width: 5px;
  min-height: 5px;
  max-height: 50px;
  cursor: url('img/artist.png'), auto;
  display: inline-block;
  position: absolute;
  left: 550px;
  top: 300px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
  background-color: white;
  margin-top: -5px;
}

.zoom {
  padding-right: 20px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom:hover {
  transform: scale(1.05);
}

.rodape {
  margin-top: 20%;
  padding: 12px;
  height: 50px;
  text-align: center;
  color: var(--dark);
}
