@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap') ;

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap') ;

:root {
  --bkg: #111113;
  --font: #F9EAFF;
}

* {
  box-sizing: border-box;
  font-family: Epilogue , sans-serif;
  margin: 0;
  padding: 0;
}

.main-content {
  background-color: var(--bkg);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.header-content nav {
  background-color: var(--bkg);
  color: var(--font);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

.div-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-content nav a {
  color: var(--font);
}

form {
  background-color: var(--bkg);
  color: var(--font);
  padding: 6px 36px;
  position: relative;
  width: 50%;
}

form > div {
  padding: 10px;
}

form h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 24px;
  text-align: center;
}

label, textarea {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
  line-height: 150%;
  margin-top: 5px;
  overflow: hidden;
  padding: 6px 36px;
  resize: none;
}

.inputs, textarea, select {
  background: var(--bkg);
  border: none;
  border-bottom: 1px solid #a1a8b5;
  color: var(--font);
  height: 40px;
  outline: none;
  padding: 12px;
  user-select: none;
  width: 80%;
}

.checkbox {
  border-style: none;
  color: var(--font);
  outline: none;
  padding: 12px;
}

.checkbox label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.save-btn {
  align-items: center;
  background: #DE4ED3;
  border: none;
  border-radius: 4px;
  color: #000;
  display: flex;
  margin: 0 auto;
  padding: 12px 40px;
}

.save-btn:disabled {
  opacity: 0.3;
}

.save-btn:disabled:hover {
  background: #DE4ED3;
}

.save-btn:hover {
  background: #7D7AA5;
  cursor: pointer;
}

.filtros {
  color: var(--font);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  margin-top: 40px;
}

.filtros h2 {
  color: var(--font);
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
}

.name-filter, .filterRare {
  background-color: var(--bkg);
  border: none;
  border-bottom: 1px solid #a1a8b5;
  height: 40px;
  outline: none;
  padding: 12px;
  user-select: none;
  width: 180px;
}
