.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.h1-card {
  display: none;
}

.border {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(222,78,211,1) 71%, rgba(125,122,165,1) 100%);
  border: 5px solid #023031;
  border-radius: 10px;
  color: white;
  height: 500px;
  margin: 0 auto;
  width: 350px;
}

.name-card {
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  margin: 25px;
  text-align: center;
}

.image {
  position: absolute;
  height: 490px;
  width: 340px;
  overflow: hidden;
  transition: .5s;
}

.hover {
  position: absolute;
  height: 490px;
  width: 340px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(222,78,211,1) 71%, rgba(125,122,165,1) 100%);
  transition: .5s;
  transform-origin: 3cm 2px;
  transform: perspective(2000px) rotateY(-90deg);
  z-index: 1;
}

.border:hover .hover {
  transform: perspective(2000px) rotateY(0deg);
  opacity: .8;
}


.description-card {
  font-weight: 500;
  margin: 10px;
  max-width: 80%;
  text-align: center;
}

.card-attr {
  background: white;
  color: black;
  margin: 10px;
}

.border p {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.rare-card, .trunfo-card {
  font-weight: 700;
  margin: 15px;
  text-align: center;
}
