:root {
  --bkg: #1A1A1D;
  --font: #F9EAFF;
}

.card-preview {
  background: #1D1D20;
  color: var(--font);
  display: flex;
  flex-direction: column;
  max-width: 50%;
  width: 50%;
}

.h1-card-preview {
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  margin: 24px;
  text-align: center;
}

.border-preview {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(222,78,211,1) 71%, rgba(125,122,165,1) 100%);
  border: 5px solid #ffffff;
  border-radius: 10px;
  --font: #F9EAFF;
  height: 500px;
  margin: 0 auto;
  width: 350px;
}

.image-preview {
  position: absolute;
  height: 490px;
  width: 340px;
  overflow: hidden;
  transition: .5s;
}

.hover-preview {
  position: absolute;
  height: 490px;
  width: 340px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(222,78,211,1) 71%, rgba(125,122,165,1) 100%);
  transition: .5s;
  transform-origin: 3cm 2px;
  transform: perspective(2000px) rotateY(-90deg);
  z-index: 1;
}

.border-preview:hover .hover-preview {
  transform: perspective(2000px) rotateY(0deg);
  opacity: .8;
}

.name-card-preview {
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  margin: 25px;
  text-align: center;
}

.description-card-preview {
  font-weight: 500;
  margin: 10px;
  max-width: 80%;
  text-align: center;
}

.card-attr-preview {
  background: white;
  --font: #F9EAFF;
  margin: 10px;
}

.attr-preview {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.rare-card-preview, .trunfo-card-preview {
  font-weight: 700;
  margin: 15px;
  text-align: center;
}
