.card-preview {
  background: #023031;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  width: 50%;
}

.h1-card-preview {
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  margin: 24px;
  text-align: center;
}

.border-preview {
  background: #036b52;
  border: 5px solid #ffffff;
  border-radius: 10px;
  color: black;
  height: 500px;
  margin: 0 auto;
  width: 350px;
}

.image-preview {
  position: absolute;
  height: 490px;
  width: 340px;
  overflow: hidden;
  transition: .5s;
}

.image-preview:hover {
  opacity: .5;
  transform: translateX(30%);
}

.hover-preview {
  display: none;
  position: absolute;
  height: 490px;
  width: 340px;
  background: #ffc107;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
  z-index: -1;
}

.hover-preview:hover {
  display: block;
  transform: perspective(2000px) rotateY(0deg);
}

.name-card-preview {
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
  margin: 25px;
  text-align: center;
}

.description-card-preview {
  font-weight: 500;
  margin: 10px;
  max-width: 80%;
  text-align: center;
}

.card-attr-preview {
  background: white;
  color: black;
  margin: 10px;
}

.attr-preview {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.rare-card-preview, .trunfo-card-preview {
  font-weight: 700;
  margin: 15px;
  text-align: center;
}

.filtros {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.filtros h2 {
  color: #444955;
  font-size: 30px;
  font-weight: 700;
  line-height: 29px;
}

.name-filter, .filterRare {
  background: white;
  border: none;
  border-bottom: 1px solid #a1a8b5;
  color: #444955;
  height: 40px;
  outline: none;
  padding: 12px;
  user-select: none;
  width: 180px;
}

